# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives**

* Popular Languages that data scientists use
* Commonly used libraries by Data scientists
* Evaluating arithmetic operations using Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Pytorch

|Data Science Tools|
 ---------------------------
 |Jupyter Notebook|
 |R studio|
 |Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers

print((3*4)+5)

17

In [4]:
# This will convert 200 minutes to hours by diving by 60

print(200/6)

33.333333333333336

## Author
Vijayalakshmi Sivaraman